.App {
  text-align: center;
}
body {
  color: #202020;
}
.topbar {
background-color: #198754;
}
.brand {
  color: white !important;
}
.nav-link {
  color: white !important;
  justify-content: space-evenly !important;
}
.description{
  text-align: justify;
}