.App {
  text-align: center;
}
body {
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  color: #202020;
}
.topbar {
  background-color: green ;
}
.brand {
  color: white !important;
}
.nav-link {
  color: white !important;
  justify-content: space-evenly !important;
}